@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 6% 90%;
    --foreground: 210 26% 31%;

    --card: 0 0% 100%;
    --card-foreground: 210 26% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 26% 31%;

    --primary: 210 26% 31%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 6% 90%;
    --secondary-foreground: 210 26% 31%;

    --muted: 220 6% 85%;
    --muted-foreground: 210 10% 50%;

    --accent: 210 20% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 10% 80%;
    --input: 220 10% 80%;
    --ring: 210 26% 31%;

    --radius: 0.5rem;

    --sidebar-bg: 210 26% 31%;
    --sidebar-hover: 210 28% 26%;
    --sidebar-active: 210 30% 22%;
  }

  .dark {
    --background: 210 26% 31%;
    --foreground: 0 0% 100%;

    --card: 210 28% 26%;
    --card-foreground: 0 0% 100%;

    --popover: 210 28% 26%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 210 26% 31%;

    --secondary: 210 30% 22%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 30% 22%;
    --muted-foreground: 220 10% 70%;

    --accent: 210 30% 22%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 30% 22%;
    --input: 210 30% 22%;
    --ring: 0 0% 100%;

    --sidebar-bg: 210 26% 31%;
    --sidebar-hover: 210 28% 26%;
    --sidebar-active: 210 30% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
